@font-face{
  font-family: 'OratorStd';
  src:url('../font/OratorStd.otf');
  src:url('../font/Orator Std Medium.ttf') format('truetype'), 
      url('../font/oratorstd.woff') format('woff'),
      url('../font/OratorStd.otf') format('opentype');
  font-weight:normal;font-style:normal;
}
html{
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height:100%;
  background-color: #d6f1ee;
  font-family: 'helvetica' ;
}
#corpus-game{
  font-family: 'OratorStd' ;
  font-size: 64px;
  color: #006677;
  text-align: -moz-center;
  margin: 0px auto;

}
.btn {
  /*width: 70%;*/
  border: none;
 
  background: -webkit-linear-gradient(135deg, #40cb7f, #00bfac); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(135deg, #40cb7f, #00bfac); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(135deg, #40cb7f, #00bfac); /* Firefox 3.6 - 15 */
  background: linear-gradient(135deg, #40cb7f, #00bfac); /* 标准的语法 */

  font-family: 'OratorStd' ;

}
.row{
  padding: 0px 0px 0px 0px;
  
  text-align: left;
  color: #006677;
  
}

