@import url(base.css);

.bubble{
	margin: 30px auto;
	background-color: #b7e6e1;
    border-radius: 17px;  
	word-wrap: break-word; /* return a line i for url content*/
}
.bubble h4{
     margin-top: 15px;
     margin-left: 10px;
    
	 font-size:28px;
	 color:#65a8a5;
	
}
.bubble p{
     font-size:20px;
		color:#006677;
     margin-left: 10px;
}
.solid-line{
	padding-top: 0px;
	width:100%%;
	height: 1px;
	background-color: #b7e6e1;
	margin:30px auto;
}

.bubble::before{
	border-color: transparent  transparent transparent #b7e6e1 ;
    border-style: solid;
    border-width: 20px 0px 20px 20px;
    top: 25px;
    content: "";
    transform: rotate(45deg);
    position: absolute;
    left: -15px;
}

.alert{
	background-color:#007a89;
	border-radius:4px;
	font-size: 20px;
	color:#ffffff;
}
.container-fluid{
	min-height: 100%
}


label{
	font-size:20px;
	color:#454545;
}
form{
	width: 100%;
	margin: 30px;
}
#logout{
	background-color:#49b5ae;
	border-radius:4px;
	font-size:14px;
	color:#ffffff;
}
#submitdiv{
	padding: 0;
	margin: 0;
}
.float-right{
	padding: 0;
	margin:0;
}
#bigrow{
	padding-left: -15px ! important;
	padding-right: -15px;
	height: calc(100vh);
}

#leftcol{
	min-width: 600px;
}
/*table{
	width: 100%;
}*/
#rankcol{
	
	margin:0;
	padding-right:  0px;
	max-width: 320px;
    min-width: 300px;
}
#table-wrapper{
	position: relative;
	height: calc(100% - 215px);
}

#table-scroll{
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	
}

#userInfo{
	background-color:#88cfcc;
	height: 180px;
}
#rank tr {
	background-color: #b8e7e5;
	color:#006677;
	font-size: 14px;
	/*height: 90px;*/
	width: 90%;
	padding: 0;
	overflow-x: hidden;

}


#rank .username{
	font-size: 20px;
	text-overflow: ellipsis;
	max-width:70%; 
	display: block;
}
#userInfo .name{
	text-overflow: ellipsis;
	width:150px; 
	display: block;
	overflow: hidden;
	white-space: nowrap;
}



#rank h1{
	font-size:48px;
	color:#00926f;
	margin: 0;
}
#rank p{
	font-size:12px;
	color:#00926f;
}
#rank div{
	padding: 3px !important;
	margin: 0;
	/*word-wrap: break-word;*/

}
#rank span{
	padding: 0;
	margin: 0;
	overflow: hidden;
	
	}







#sap{
	margin-bottom: 50px;
}
#submit{
	margin-right: 0px;
	padding-right: 0px;
}


a:link{
	color: #006677;
	text-decoration: none;
}
a:visited{
	color:#006677;
	text-decoration: none;
}
a:hover{
	color:red;
	text-decoration: none;
}
a:active{
	color: #006677;
	text-decoration: none;
}
#rankspliter{
	text-align: center;
	background-color:#49b5ae;
	font-family:Helvetica;
	font-weight: bold;
	font-size:20px;
	color:#004753;
	height:30px;
	
}
