<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    
    <title>Corpus Game</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/how.css') }}" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="container">
     <div class="row">
         <img src="{{ url_for('static', filename='imgs/SAP logo.png') }}" width="118px" height='57px' alt="">
      </div>

      <div class="row mt-5">
        <div class="col-md-5">
          <img src="{{ url_for('static', filename='imgs/Page 2 slice.png') }}"  alt="">
        </div>

        <div class="col-md-5">
          <h2 class="mb-3 font-weight-normal" id="howtoplay">How To Play? </h2>
          <ul class="mb-3">
            <li>Please input as many ERP-related questions as possible. </li>
            <li>Every time you input a question, you will get a score. </li>
            <li>The more different your questions are than others, the higher the score will be.</li>
          </ul>

          <form class="form-signin" action='' method='POST'>
              {{ form.hidden_tag() }}
              {{ form.csrf_token }}
              {{ form.email(class="form-control mb-3",id="email",placeholder="E-Mail Address",type="email",required="required", oninvalid="setCustomValidity('Please complete the address with an @.')", oninput="setCustomValidity('')") }}
              {{ form.username(id="name", class="form-control mb-3",placeholder="Nick Name",type="text") }}
              {{ form.submit(class="btn btn-lg btn-primary btn-block",type="submit") }}
          </form>
        </div>

        <div class="col-md-2">
        </div>
      </div>
    </div>
  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>  
 
</body>

</html>