<!DOCTYPE html>
{% import "bootstrap/wtf.html" as wtf %}
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corpus Game</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/how.css') }}" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="container">
     <div class="row">
         <img src="{{ url_for('static', filename='imgs/SAP logo.png') }}"  alt="">
      </div>

      <div class="row">
        <div class="col-md-5">
          <img src="{{ url_for('static', filename='imgs/Page 2 slice.png') }}"  alt="">
        </div>

        <div class="col-md-5">
          <h2 class="mb-3 font-weight-normal">How To Play? </h2>
          <ul class="mb-3">
            <li>Please input as many questions as possible(ERP topic). </li>
            <li>Every time you enter a question,we score you. </li>
            <li>If your question is different with others, you will get high score.The lower the overlap, the higher the score.</li>
          </ul>

          <form class="form-signin" action='' method='POST'>
              {{ form.hidden_tag() }}
              {{ form.csrf_token }}
              {{ form.email(class="form-control mb-3",id="email",placeholder="Email Address",type="email",required="required") }}
              <!-- {% for message in get_flashed_messages() %}
              <div class="alert alert-warning">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
              </div>
              {% endfor %} -->
              {{ form.username(id="name", class="form-control mb-3",placeholder="Nick Name",type="text") }}
              {{ form.submit(class="btn btn-lg btn-primary btn-block",type="submit") }}
          </form>
        </div>

        <div class="col-md-2">
        </div>
      </div>
    </div>
  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>  
 
</body>

</html>