<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Single Player</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/play.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body >
    <div class="container">
      


      <div class="row">
        <div class="col-9">
          <div class="row">
              <img src="{{ url_for('static', filename='imgs/SAP logo.png') }}">
          </div>
          <div class="row">
            <div class="col-4" > 
              <img src="{{ url_for('static', filename='imgs/Slice_guide.png') }}"  class="avatar">
            </div>
            <div class="col-7 bubble" > 
              <h4>Here is an example:</h4>
              <p>Step 1: Choose a topic "Finance".</p>
              <p>Step 2: Type "Show me the sales amount of iPhone X last month."</p>
            </div>
          </div>
          <div class="solid-line row">
          </div>
          <div class="row"> 
            <form>
              <div class="form-row ">

                <div class="col-3 form-group">
                  <label for="dropdownMenuButton"> Topic: </label>
                  <select class="form-control custom-select d-block w-100" id="dropdownMenuButton" required="">
                    <option>CRM</option>
                    <option>Sales</option>
                    <option>OMS</option>
                  </select>                  
                </div>                 
                 
                <div class="col-9 form-group">
                  <label for="sentence"> Question: </label>
                  <input type="text" class="form-control" id="sentence" placeholder="" required="required" name="sentence">
                </div>
              </div>
              <div class="form-row ">
                <div class="col-9">
                </div>
                <div class="col-3 ">
                  <button class="btn btn-primary btn-lg btn-block" type="submit" id="submit">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- The Ranking List  -->
        <div class="col-3" id="rankcol">    
           

          <ul class="list-group" id='userInfo'>
           <li class='list-group-item d-flex justify-content-between align-items-center'>
              <img src="{{ url_for('static', filename='imgs/Slice_user.png') }}" width="78" height="78" class='p-2'>
              <div class='p-2 flex-column'>
                  <h5 class='p-2'><span class='name'></span><a id='logout' href="{{url_for('main.logout')}}">  
                    <i class="fa fa-power-off ml-4" ></i></a></h5>
                  <div class='p-2'>Rank:  <span class='rank'></span></div>
                  <div class='p-2'>Score:  <span class='score'></span></div>
                  <div class='p-2'>Question Amount:  <span class='q-amount'></span></div>
              </div>
            </li>
          </ul>
        
          <div id="rankspliter">Ranking List</div>

          <ul class="list-group mb-3" id="rank">
          </ul>
        </div>


        
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>  
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>   
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
    
   
    <script type=text/javascript>
      $(document).ready(function(){
        $('form').submit(function(e) {
          e.preventDefault();
          topic = $('#dropdownMenuButton').text().trim();
          sentence = $('#sentence').val().trim();

          $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify({"sentence":sentence,"topic":topic}),
                url:"{{url_for('main.dump_sentence')}}",
                contentType: 'application/json; charset=utf-8',
                success: function(callback){
                  alert(callback.success+" "+callback.score);
                  var success = callback.success;
                  if(success==1){
                    $('#modalLabel').text("Success");
                    $('.modal-body').text("Your score is now at "+callback.score);
                  }else if (success==2){
                    $('#modalLabel').text("Retry please!");
                    $('.modal-body').text("Look like your sentence too simple!");
                  }else{
                    $('#modalLabel').text("Failure");
                    $('.modal-body').text("Something wrong!");
                  }
                  $('#modal').modal('show');
                  

                }
            });
        });

        
        $('.dropdown-menu').on('click', function(e) {
         var $target = $(e.target);
         $target.is('a') && $('#dropdownMenuButton').text($target.text());
        });
        $('#userInfo').on("loadUser", function(){
          $.ajax({
              type: "POST",
              dataType: "json",
              url:"{{url_for('main.user_info')}}",
              contentType: 'application/json; charset=utf-8',
              success: function(callback){
                $('#userInfo .name').text(callback.user['username']);
                $('#userInfo .rank').text(callback.rank);
                $('#userInfo .score').text(callback.user['score']);
                $('#userInfo .q-amount').text(callback.user['questionamount']);
              }
          });
        })
        $('#userInfo').trigger('loadUser');

        $('#rank').on("loadRank", function(){
          $.ajax({
              type: "POST",
              dataType: "json",
              url:"{{url_for('main.rank_list')}}",
              contentType: 'application/json; charset=utf-8',
              success: function(callback){
                //alert(callback.ranklist);
                $("#rank").empty();
                var count = callback.ranklist.length;
                if (count>7){
                  count = 7;
                }
                while(count>0){
                  $("#rank").append("<li class='list-group-item d-flex justify-content-between lh-condensed'><div><h1 class='align-self-center'></h1>Rank</div><div class='d-flex flex-column'><div class='p-2'><span class='username'></span></div><div class='p-2'>Score:  <span class='score'></span></div><div class='p-2'>Question amount:  <span class='q-amount'></span></div></div></li>")
                  count--;
                }
                $("#rank").find("h1").each(function(index,value){
                  $(this).text(index+1);
                });
                $("#rank").find(".username").each(function(index,value){
                  $(this).text(callback.ranklist[index].username);
                });
                $("#rank").find(".score").each(function(index,value){
                  $(this).text(callback.ranklist[index].score);
                });
                $("#rank").find(".q-amount").each(function(index,value){
                  $(this).text(callback.ranklist[index].questionamount);
                });   
           
                
              }
          });
        })

        $('#rank').trigger('loadRank');
        $('#modalClose').on('click',function(){
          $('#rank').trigger('loadRank');
          $('#userInfo').trigger('loadUser');
        });

      }); 
    </script>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id='modalClose'>Close</button>
          </div>
        </div>
      </div>
    </div>
</body></html>